on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.16.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - run: go mod tidy
    - name: Run unity tests
      run: go run github.com/cue-sh/unity/cmd/unity test --verbose
    - name: Check git clean
      run: "test -z \"$(git status --porcelain)\" || (git status; git diff; false)"
